In [50]:
import load_data as ld
import pandas as pd

In [51]:
x = ld.load_dataset()

In [52]:
y = x.dropna()

In [53]:
z = y[['Date','Value']]

In [54]:
z.head()

     Date      Value
0  194913  11.980905
1  195013  12.347109
2  195113  12.552996
3  195213  11.306479
4  195313  11.372684

In [55]:
z.Date

0       194913
1       195013
2       195113
3       195213
4       195313
5       195413
6       195513
7       195613
8       195713
9       195813
10      195913
11      196013
12      196113
13      196213
14      196313
15      196413
16      196513
17      196613
18      196713
19      196813
20      196913
21      197013
22      197113
23      197213
24      197301
25      197302
26      197303
27      197304
28      197305
29      197306
         ...
7170    201501
7171    201502
7172    201503
7173    201504
7174    201505
7175    201506
7176    201507
7177    201508
7178    201509
7179    201510
7180    201511
7181    201512
7182    201513
7183    201601
7184    201602
7185    201603
7186    201604
7187    201605
7188    201606
7189    201607
7190    201608
7191    201609
7192    201610
7193    201611
7194    201612
7195    201613
7196    201701
7197    201702
7198    201703
7199    201704
Name: Date, Length: 6868, dtype: int64

In [56]:
z.Date.astype(str)

0       194913
1       195013
2       195113
3       195213
4       195313
5       195413
6       195513
7       195613
8       195713
9       195813
10      195913
11      196013
12      196113
13      196213
14      196313
15      196413
16      196513
17      196613
18      196713
19      196813
20      196913
21      197013
22      197113
23      197213
24      197301
25      197302
26      197303
27      197304
28      197305
29      197306
         ...
7170    201501
7171    201502
7172    201503
7173    201504
7174    201505
7175    201506
7176    201507
7177    201508
7178    201509
7179    201510
7180    201511
7181    201512
7182    201513
7183    201601
7184    201602
7185    201603
7186    201604
7187    201605
7188    201606
7189    201607
7190    201608
7191    201609
7192    201610
7193    201611
7194    201612
7195    201613
7196    201701
7197    201702
7198    201703
7199    201704
Name: Date, Length: 6868, dtype: object

In [57]:
z.Date

0       194913
1       195013
2       195113
3       195213
4       195313
5       195413
6       195513
7       195613
8       195713
9       195813
10      195913
11      196013
12      196113
13      196213
14      196313
15      196413
16      196513
17      196613
18      196713
19      196813
20      196913
21      197013
22      197113
23      197213
24      197301
25      197302
26      197303
27      197304
28      197305
29      197306
         ...
7170    201501
7171    201502
7172    201503
7173    201504
7174    201505
7175    201506
7176    201507
7177    201508
7178    201509
7179    201510
7180    201511
7181    201512
7182    201513
7183    201601
7184    201602
7185    201603
7186    201604
7187    201605
7188    201606
7189    201607
7190    201608
7191    201609
7192    201610
7193    201611
7194    201612
7195    201613
7196    201701
7197    201702
7198    201703
7199    201704
Name: Date, Length: 6868, dtype: int64